<div class="notification_content">
  <%= notification.visitor.name %>さんが、あなたの投稿<br>
  <%= link_to notification.comment.post.body.truncate(20), notification.comment.post, class: 'notification_link' %><br>
      <% case notification.action.to_sym %>
        <% when :favorite then %>
          をお気に入り登録しました
        <% when :comment then %>
          に返信しました
      <% end %>
      <div class="notification_footer">
      <div>
        <%= time_ago_in_words(notification.created_at).upcase %>前
      </div>
      <div>
        <%= link_to t('post_notifications.index.delete'), checked_post_notification_path(notification), data: { turbo_method: :patch }, class:"btn btn_checked fas fa-trash" %>
      </div>
    </div>
  </div>
  <hr>