<nav class="navbar navbar-expand-sm bg-success-subtle mb-3">
<div class="container">
  <div class="flex-left">
    <%= link_to '/', class: 'navbar-brand' do %>
      Home Care Community
    <% end %>
  </div>
  <div class="flex-right">
    <%= link_to '新規登録', '#', class: '' %>
    <%= link_to 'ログイン', '#', class: '' %>
  </div>
</div>
</nav>
</header>