<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>