<footer class='footer bg-dark-subtle'>
  <div class='container'>
    <div class='fixed-bottom bg-dark-subtle'>
        <%= link_to '利用規約', '#', class:'text-muted' %>
        <%= link_to 'プライバシーポリシー', '#', class:'text-muted' %>
      </div>
    </div>
  </div>
</footer>