<div class="container pt-3">
  <%= render 'search_form' %>
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <p><%= t('posts.index.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>