@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

//960px
html{
    min-height: 100%;
}

body{
    background-color: #B2FFAB;
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
}

.header_left{
    width: 250px;
    height: 100%;
}

header{
    text-align: center;
    height: 100%;
    margin-top: 80px;
    width: 250px;
    position: fixed;
}

.app_title{
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.app_title {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.header_search{
    display: inline-block;
}

.search_form{
    width: auto;
}

.search_select{
    width: 80%;
    appearance: auto;
}

.footer_right{
    text-align: right;
    width: 200px;
    height: 100%;
    display: block;
}

footer{
    height: 100%;
    position: fixed;
}

.footer_list{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60%;
    gap: 30px;
}

.footer_item{
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.footer_list a:hover{
    background-color: #f0f0f0;
}

main{
    height: 100%;
    min-height: 100vh;
    width: 550px;
    background-color: #f3f3f3;

}

.main_content{
    padding: 20px 5px;
}

.top_title{
    background-color: #B2FFAB;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.post_content{
    color: #c0c0c0;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 14px;
}

.post_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.post_body{
    color: #000;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 50px;
    font-size: 16px;
}

.post_index_image{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.btn_submit{
    text-align: center;
    padding: 0 100px;
    position: relative;
}

.btn_text{
    background-color: #64ff56;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 50px;
    border: #000 1px solid;
    border-radius: 5px;
}

.btn_text:hover{
    background-color: #64ff56;
    opacity: 1.2;
}

.btn_cancel{
    position: absolute;
    top: 0%;
    left: 5%;
}

.btn_cancel_text{
    text-decoration: none;
    background-color: #64ff56;
    padding: 5px 20px;
    border: #000 1px solid;
    border-radius: 5px;
}


.policy_content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.policy_content a:hover{
    background-color: white;
}

.post_radio{
    display: flex;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.post_radio_button{
    background-color: white;
    border-radius: 10px;
    padding: 2px 5px;
}

.form_label{
    margin: 0;
}

.form_image_button{
    width: 100px;
    height: 100px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}

.form_image_button i{
    font-size: 30px;
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

.form_image_button p{
    font-size: 12px;
}

.post_form_image{
    display: flex;
    gap: 10px
}

.show_post{
    border: 1px solid #c0c0c0;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 15px;
    font-size: 12px;
    margin-bottom: 50px;
}

.show_post_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.post_user_image{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.post_tag_list{
    margin-bottom: 15px;
    padding: 0 10px;
}

.post_show_image{
    text-align: center;
}

.post_show_image img{
    width: 150px;
    
}


.btn_show_text{
    padding: 5px 20px;
    background-color: #B2FFAB;
    border: #000 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: lighter;
}

.show_post_footer{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
}

.show_comment_footer{
    display: flex;
    gap: 10px;
    padding-left: 10px;
    justify-content: space-between;
}

.show_post_body{
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}


.show_comment{
    border: 1px solid #c0c0c0;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 15px;
    font-size: 12px;
    margin-bottom: 5px;
}

.show_comment_body{
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.comment_show_image img{
    width: 100px;
}

.show_reply{
    border: 1px solid #c0c0c0;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 15px;
    font-size: 12px;
    margin-bottom: 5px;
    width: 85%;
    margin-left: auto;
}

.profile_show{
    background-color: white;
    padding-top: 10px;
}

.profile_show_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
}

.profile_show_header img{
    width: 100px;
}

.profile_show_bio{
    padding: 0 40px;
    font-size: 14px;
    margin-bottom: 20px;
}

.profile_show_nav{
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
    cursor: pointer;
}

.profile_show_nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.profile_show_nav li{
    background-color: transparent;
    list-style: none;
    display: block;
    width: 100%;
    height: 100%;
}

.profile_show_nav li.selected{
    background-color: #B2FFAB;
}

.profile_show_nav p{
    margin-bottom: 0;
    padding: 5px 0;
}

.profile_top_title{
    background-color: #B2FFAB;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    position: relative;
}

.btn_top_right{
    position: absolute;
    right: 3%;
    top: 20%
}

.btn_top_text{
    padding: 5px 10px;
    border: #000 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

.profile_show_post{
    border: 1px solid #c0c0c0;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 15px;
    font-size: 12px;
    margin-bottom: 5px;
}

.profile_show_comment{
    border: 1px solid #c0c0c0;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 15px;
    font-size: 12px;
    margin-bottom: 5px;
}

#edit_post_image{
    width: 100px;
}

.profile_edit_image{
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile_edit_image label{
    cursor: pointer;
}

.profile_edit_image img{
    width: 150px;
}

.profile_edit_image #image_prev img{
    max-width: 150px;
    max-height: 150px;
}

.btn_all_checked{
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}

.notification_main_content{
    padding: 20px 50px;
}

.notification_content{
    padding: 0 50px;
    margin-bottom: 20px;
}

.notification_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.notification_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

.btn_checked{
    background-color: white;
    border: 0.5px solid #000;
    border-radius: 5px;
    font-size: 12px;
}

.preview_btn i{
    color: red;
    cursor: pointer;
}

.edit_preview_btn i{
    color: red;
    cursor: pointer;
}

.preview{
    display: flex;
}

#comment_form{
    border: 1px #c0c0c0 solid;
    border-radius: 5px;
    padding: 10px;
}


#cancel_comment_btn{
    text-decoration: none;
    background-color: #B2FFAB;
    padding: 5px 10px;
    border: #000 1px solid;
    border-radius: 5px;
}







.required{
    background-color: #ee3333;
    color: white;
    padding: 2px; 
    font-size: 16px;
    border-radius: 5px;
}



#image_prev img{
    max-width: 100px;
    max-height: 100px;
}

.notice{
    color: red;
}

@media screen and (max-width: 960px){

}