@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

//960px
html{
    min-height: 100%;
}

body{
    background-color: #B2FFAB;
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
}

.header_left{
    width: 250px;
    height: 100%;
}

header{
    text-align: center;
    height: 100%;
    margin-top: 80px;
    width: 250px;
    position: fixed;
}

.app_title{
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.app_title {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.header_search{
    display: inline-block;
}

.search_form{
    width: auto;
}

.search_select{
    width: 80%;
    appearance: auto;
}

.footer_right{
    text-align: right;
    width: 200px;
    height: 100%;
    display: block;
}

footer{
    height: 100%;
    position: fixed;
}

.footer_list{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60%;
    gap: 30px;
}

.footer_item{
    border: 1px solid #000;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.footer_list a:hover{
    background-color: #f0f0f0;
}

main{
    height: 100%;
    min-height: 100vh;
    width: 550px;
    background-color: #f3f3f3;

}

.main_content{
    padding: 20px 5px;
}

.top_title{
    background-color: #B2FFAB;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.post_content{
    color: #c0c0c0;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 14px;
}

.post_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.post_body{
    color: #000;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 50px;
    font-size: 16px;
}

.post_index_image{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.btn_submit{
    text-align: center;
    padding: 0 100px;
}

.btn_text{
    background-color: #64ff56;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 50px;
    border: #000 1px solid;
    border-radius: 5px;
}

.btn_text:hover{
    background-color: #64ff56;
    opacity: 1.2;
}

.policy_content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.policy_content a:hover{
    background-color: white;
}

.post_radio{
    display: flex;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.post_radio_button{
    background-color: white;
    border-radius: 10px;
    padding: 2px 5px;
}

.form_label{
    margin: 0;
}

.form_image_button{
    width: 100px;
    height: 100px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}

.form_image_button i{
    font-size: 30px;
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

.form_image_button p{
    font-size: 12px;
}

.post_form_image{
    display: flex;
    gap: 10px
}

.show_post{
    border: 1px solid #c0c0c0;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 15px;
    font-size: 12px;
}

.show_post_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.post_user_image{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.show_post_body{
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.post_tag_list{
    margin-bottom: 15px;
    padding: 0 10px;
}

.post_show_image{
    text-align: center;
}

.post_show_image img{
    width: 150px;
    
}


.btn_show_text{
    padding: 5px 20px;
    background-color: #B2FFAB;
    border: #000 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: lighter;
}

.show_post_footer{
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.fas fa-star{
    color: #000;
}





















.preview-image{
    width: 300px;
    height: 300px;
}

.required{
    background-color: #ee3333;
    color: white;
    padding: 2px; 
    font-size: 16px;
    border-radius: 5px;
}

#edit_image_prev{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.bio{
    min-height: 100px;
}

#image_prev img{
    width: 100px;
    max-height: 100px;
}

.notice{
    color: red;
}

@media screen and (max-width: 960px){

}